body {
    background-color:#999;
    font-size: 14px;
    color: #fff;
  }
  
  ul {
    position:fixed;
    width:100%;
    margin-top:25px;
    list-style:none;
  }

  li {
    width:70.4333%;
    text-align:center;  
  }
  span {
    font-size: 10em;
    font-weight:bold;
  }